--- 
import BaseLayout from "../layouts/BaseLayout.astro";
import Pagination from "../components/Pagination.astro";
import type { ShortPageData } from "../shared/type";
import config from "urodele.config";
import PostPreview from "./PostPreview.astro";

import Hero from "./Hero.astro";

interface Props {
  posts: ShortPageData[];
  page: number;
  pages: number;
}

const { posts, page, pages } = Astro.props;
---

<BaseLayout title={config.head.title}>
  <main>
    <Hero />
    <div class="content">
      {
        posts.map((item) => (
          <PostPreview post={item} />
        ))
      }
      <Pagination page={page} pages={pages} />
    </div>
  </main>
</BaseLayout>
